body {
    font-family: sans-serif;
    margin: 2rem;
}

ul{
    list-style: none;
    padding: 0;
}

#stargazers-list li{
    padding: 2rem;
    border: 1px solid #8fa5ff;
    margin-bottom: 0.75rem;
}